src/deep_barcode_reader/models/sr.caffemodel filter=lfs diff=lfs merge=lfs -text
src/deep_barcode_reader/models/sr.prototxt filter=lfs diff=lfs merge=lfs -text
tests/test_data/sample.jpg filter=lfs diff=lfs merge=lfs -text
